<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom_admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookstore.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/6b4ddefc79.js" crossorigin="anonymous"></script>
    
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bookstore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

    <!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav  sidebar sidebar-dark accordion" style="background-color: #222;"  id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" 
        href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="far fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3">BOOKSTORE</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Book" asp-action="Index">
                <i class="fas fa-fw fa-book"></i>
                <span>Livros</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Client" asp-action="Index">
                <i class="fas fa-users"></i>
                <span>Clientes</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2"
            aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-book"></i>
                <span>Empréstimos</span>
            </a>
            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-controller="Borrowing" asp-action="Index">Lista de Empréstimos</a>
                    <a class="collapse-item" asp-controller="Penalty" asp-action="Index">Multas Aplicadas</a>
                </div>
            </div>

        </li>
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Category" asp-action="Index">
                <i class="fas fa-users"></i>
                <span>Categorias</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-lock"></i>
                <span>Utilizadores</span>
            </a>
        </li>
    </ul>
    
    <!-- End of Sidebar -->

    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                     <!-- Nav Item - User Information -->
                     <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           
                            <span class="mr-2 d-none d-md-inline text-gray-600 ">Admin</span>
                            <!-- <img class="img-profile rounded-circle"
                                src="img/undraw_profile.svg"> -->
                            
                                <i class="fas fa-user"></i>
                            
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                                Definições
                            </a>
                            @* <a class="dropdown-item" href="#">
                                <i class="fas fa-globe fa-sm fa-fw mr-2 text-gray-400"></i>
                                Ir ao Portal
                            </a> *@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();"
                            data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Terminar Sessão
                            </a>
                            <form id="logout-form" action="#" method="POST" class="d-none">
                                        
                            </form>
                            
                        </div>
                    </li>
                </ul>
                <!-- End of TopBar Navbar -->
            
            </nav>
            <!-- End of TopBar -->


             <!-- Begin Page Content -->
            <div class="container-fluid">
                
                <!-- O CONTEUDO DA PAGINA -->
                

                @RenderBody()


            </div>
             <!-- End of Page COntent -->
            <!-- FIM DO CONTEUDO DA PAGINA -->
        </div>
        <!-- End of Main Content -->

    </div>
     <!-- End of Content Wrapper -->


</div>
@* End of Page Wrapper *@

<!-- MODAL PARA STATUS DE OPERALÇÃO -->
@if(TempData["ErrorMessage"]!=null){
<!-- Modal -->
<div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger font-weight-bolder " id="exampleModalLabel"style="font-size: 1.5em;" >Ocorreu um erro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark text-center" style="font-size: 1.2em;">
            @TempData["ErrorMessage"]
      </div>
    </div>
  </div>
</div>
                       
}

@if(TempData["SuccessMessage"]!=null){
<div class="modal fade" id="modalSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success font-weight-bolder " style="font-size: 1.5em;"id="exampleModalLabel" >Concluído</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark text-canter" style="font-size: 1.2em;">
            @TempData["SuccessMessage"]
      </div>
    </div>
  </div>
</div>
                       
}
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.easing.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/custom_admin.js" asp-append-version="true"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> *@
    <script>
        var modal = document.getElementById('modalError');
        if(modal==null)
        {
            console.log(modal);
        }else{
                
                 let modalError =new bootstrap.Modal(document.getElementById('modalError'),{

                });
                if(modalError!=null)
                {
                    modalError.show();
                }
        }
        
        var modal1 = document.getElementById('modalSuccess')
        if(modal1==null)
        {
            console.log(modal1);
        }else{
            let modalSuccess =new bootstrap.Modal(document.getElementById('modalSuccess'),{

            });
            if(modalSuccess!=null)
            {
                modalSuccess.show();
            }
        }


       

        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
