@model Bookstore.Models.Client
@{
    ViewData["Title"] ="Actualizar Cliente";
}
<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-0 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 ">
            Actualizar Cliente
        </h2>

        <!-- TABELA  -->
        <div class="w-full p-3 overflow-hidden bg-white rounded-lg shadow-xs">
            
        <form class="form" asp-action="Edit" method="post" >
                    <input type="hidden" name="Id" asp-for="Id">
                    <div class="form-row">
                        <div class="form-group col-12 col-md-3 mr-5">
                            <label asp-for="Name">Nome</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Nome do Cliente">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group col-12 col-md-3 mr-5">
                            <label for="">Email</label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email do Cliente">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group col-12 col-md-3 mr-5">
                            <label for="">Data de Nascimento</label>
                            <input type="date" asp-for="BornDate" class="form-control" >
                            <span class="text-danger" asp-validation-for="BornDate"></span>
                        </div>
                         <div class="form-group col-12 col-md-3 mr-5">
                            <label for="">Estado</label>
                            <select class="form-select" asp-for="Active">
                                <option value="true">Activo</option>
                                <option value="false">Suspenso</option>
                            </select>
                            <span class="text-danger" asp-validation-for="Active"></span>
                        </div>
                                
                    </div>
                    <div class=" form-row mt-3">
                        <div class="form-group col-12 col-md-5">
                            <input type="submit" value="Guardar" class="w-50 btn btn-md btn-primary">
                    
                        </div>
                    </div>
                </form>
           

        </div>


    </div>
</main>