@model Bookstore.Models.Category
@{
    ViewData["Title"] ="Editar Categoria";
}
<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-0 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 ">
            Editar Categoria
        </h2>

        <!-- TABELA  -->
        <div class="w-full p-3 overflow-hidden bg-white rounded-lg shadow-xs">
            
        <form class="form" asp-action="Edit" method="post" >
                <input type="hidden" asp-for="Id">
                    <div class="form-row">
                        <div class="form-group col-12 col-md-3 mr-5">
                            <label for="">Nome da Categoria</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Nome da Categoria">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                                
                    </div>
                    <div class=" form-row mt-3">
                        <div class="form-group col-12 col-md-5">
                            <input type="submit" value="Guardar" class="w-50 btn btn-md btn-primary">
                        </div>
                    </div>
                </form>
           

        </div>


    </div>
</main>