@{
    ViewData["Title"] = "Home Page";
    var TotalBooks = ViewData["TotalBooks"];
    var TotalClients = ViewData["TotalClients"];
    var TotalBorrowings = ViewData["TotalBorrowings"];
    var TotalPenalties = ViewData["TotalPenalties"];
}

 <div class="row">
                    
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                                            Livros </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TotalBooks</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-book fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-sm font-weight-bold text-success text-uppercase mb-1">
                                            Clientes</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TotalClients</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-person fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-sm font-weight-bold text-info text-uppercase mb-1">
                                            Emprestimos</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TotalBorrowings</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-plane fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-sm font-weight-bold text-info text-uppercase mb-1">
                                            Multas</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TotalPenalties</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-users fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
